header {
    background-color:hotpink;
    height:100px;
}

footer {
    background-color:hotpink;
    height:100px;
}

aside {
    background-color:lightpink;
    width:100px;
}

body {
    margin: 0 auto;
    background-color:deeppink;
    padding:20px;
}

h1{
    color:lightpink;
}

h2 {

}
