theBIGASSButton {
    background-color:mediumvioletred;
    color:aqua;
}

alerts {
    background-color:deeppink;
}

header {
    background-color:hotpink;
    height:100px;
}

footer {
    background-color:hotpink;
}

aside {
    background-color:lightpink;
    height:80%;
}

body {
    margin: 0 auto;
    background-color:#00ffd0;
}

h1{
    color:lightpink;
}

h2 {

}
