@import url('AwesomeStyleSheet.css');

#Wrapper {
    /*text-align:center;*/
}

#TimerButton {
    margin: 0 auto;
}

#container{
    height:100px;
}
#clock{
    width: 200px;
    height: 60px;
    border: 1px solid #DDD;
    clear:none;
    float:left;
    font-size: 35pt;
    padding-left:10px;
}

a{
    display:inline-block;
    padding:8px;
    border-radius: 5px;
    border:1px solid #DDD;
    color:white;
    background-color: #ff3300;
}

button{
    height:60px;
    width:78px;
    float:left;
    font-size:2em;
}

table, div {
    clear:both;
    margin-bottom: 20px;
}
table {
    width:410px;
    border:1px solid #DDD;
}

th {
    padding: 5px;
    background-color: bisque;
}

td {
    padding: 5px;
    background-color: #EEE;
}


/*.stopWatch {
	padding: 5px;
	background: linear-gradient(top, #222, #eee);
	border: 7px solid #efefef;
	border-radius: 5px;
    display: inline-block;
    margin: 10px auto;
	
	box-shadow: 
		inset 0 -2px 10px 1px rgba(0, 0, 0, 0.75), 
		0 5px 20px -10px rgba(0, 0, 0, 1);
}*/
/*.numbers {
    font-size: 30px;
	line-height: 40px;
	font-family: digital, arial, verdana;
	color: black;
}*/

@font-face {
	font-family: 'digital';
	src: url('http://thecodeplayer.com/uploads/fonts/DS-DIGI.TTF');
	
}

.container {
	padding: 5px;
	text-align: center;
}


#Menu {
    -webkit-transition: background-color 500ms linear;
    background-color: orangered;
    margin: 0px auto;
    font-size: 0px;
}

    #Menu li {
        display: inline-block;
        font-size: x-large;
    }

.MenuButton {
    color: black;
    text-decoration: none;
    padding: 4px;
    margin: 0 auto;
    background-color: orangered;
}

    .MenuButton:hover {
        text-decoration: none;
        background-color: #ffed00;
        color:black;
    }

#DifficultyMenu {
    -webkit-transition: background-color 200ms linear;
    background-color: orangered;
    margin: 0px auto;
    font-size: 0px;
}

input[type=radio] {
    opacity: 0;
    z-index: 9999;
}

    input[type=radio]:checked + .overlay {
        background-color: #ffed00;
    }

.sepButton {
    display:inline;
}


.overlay {
    
    text-align: center;
    width: 100px;
    -webkit-transition: background-color 200ms linear;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
    background-color: orangered;
}

#theBIGASSButton {
    -webkit-transition: background-color 900ms linear;
    background-color: #808080;
}


    #theBIGASSButton:hover {
        -webkit-transition: background-color 800ms linear;
        background-color: #f31e00;
    }

header {
    background-color: orangered;
    height: 100px;
}

#footer {
    background-color: orangered;
    clear:both;
}

aside {
    background-color: orangered;
    height: 80%;
}

body {
    margin: 0 auto;
    background-color: white;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

#test {
    position: absolute;
}
